<div class="container">
  <h1 style="text-align: center">Create room</h1>
  <br>
  <div>
    <label class="control-label">Title:</label>
    <input type="string" class="form-control" placeholder="Enter title" [(ngModel)]="title">
  </div>
  <br>
  <div>
    <label class="control-label">Location:</label>
    <select class="form-control" [(ngModel)]="location">
      <option>기숙사</option>
      <option>대운동장</option>
      <option>301 주차장</option>
    </select>
  </div>
  <br>
  <div>
    <label class="control-label">Play time:</label>
    <select class="form-control" [(ngModel)]="play_time">
      <option>15</option>
      <option>30</option>
      <option>60</option>
    </select>
  </div>
  <br>
  <div>
    <label class="control-label">Game type:</label>
    <select class="form-control" [(ngModel)]="type">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</div>
<br>
<div style="text-align: center">
  <button type="submit" class="btn btn-default" (click)="createroom()" style="width: 100px">Create</button>
</div>
