<p>
  roomcreate works!
</p>
<label>title:
  <input [(ngModel)]="title"/>
</label> 
<br>
<div class="location-select" >location:
    <select [(ngModel)]="location">
      <option value="eng">공대</option>
      <option value="nat">자연대</option>
      <option value="dorm">긱사</option>
    </select>
</div>

<div class="time-select" >play time
    <select [(ngModel)]="play_time">
      <option value="1">1시간</option>
      <option value="2">2시간</option>
      <option value="3">3시간</option>
    </select>
</div>
<div class="type-select" >game type
    <select [(ngModel)]="game_type">
      <option value="1">1-1</option>
      <option value="2">2-2</option>
      <option value="3">3-3</option>
      <option value="4">4-4</option>
      <option value="5">5-5</option>
    </select>
</div>
<button class="create" (click)="createroom()">create</button>

