<div class="container" style="text-align: right">
  <h1 style="text-align: center">Create Tournament</h1>
  <br>
  <br>
  <label class="control-label col-sm-3">Title:</label>
  <div class="col-sm-7">
    <input type="string" class="form-control" placeholder="Enter title" [(ngModel)]="title">
  </div>
  <br>
  <br>
  <label class="control-label col-sm-3">Game type:</label>
  <div class="col-sm-7">
    <select class="form-control" [(ngModel)]="game_type">
      <option value = 3>3:3</option>
      <option value = 5>5:5</option>
    </select>
  </div>
  <br>
  <br>
  <label class="control-label col-sm-3">Total Teams:</label>
  <div class="col-sm-7">
    <select class="form-control" [(ngModel)]="total_team">
      <option value = 8>8팀 참가</option>
    </select>
  </div>
  <br>
  <br>
  <label class="control-label col-sm-3">Prize:</label>
  <div class="col-sm-7">
    <input type="string" class="form-control" placeholder="Enter prize" [(ngModel)]="prize">
  </div>
</div>
<br>
<div style="text-align: center">
  <button type="submit" class="btn btn-default" (click)="addTournament()" style="width: 100px">Create</button>
</div>
