<div class="container">
        <h1 style="text-align: center">Participate Tournament</h1>
        <br>
        <br>
        <div>
          <label class="control-label">Team name:</label>
          <input type="string" class="form-control" placeholder="Enter title" [(ngModel)]="name">
        </div>
        <br>
        <div>
            <label class="control-label">Leader name:</label>
            <input type="string" class="form-control" placeholder="Enter your name" [(ngModel)]="leaderName">
        </div>
        <br>
        <div>
          <label class="control-label">Contact information:</label>
          <input type="string" class="form-control" placeholder="Enter contact information(phone number, Kakaotalk Id ...)" [(ngModel)]="contact">
        </div>
</div>
<br>
<div style="text-align: center">
        <button type="submit" class="btn btn-default" (click)="registerTeam()" style="width: 100px">Participate</button>
</div>
      
