<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div style="text-align: center">
  <h2>Waiting Rooms</h2>
  <br>
</div>
<h1 *ngIf="roomlist.length == 0" style="text-align: center">
  No rooms available now!
</h1>
<table class="table table-striped table-hover" *ngIf="roomlist.length > 0">
  <thead>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Play time</th>
    <th>Game type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let room of roomlist" routerLink="/room/{{room.id}}" >
    <td>{{ room.title }}</td>
    <td>{{ room.location }}</td>
    <td>{{ room.play_time }}</td>
    <td>{{ room.game_type }}</td>
  </tr>
  </tbody>
</table>
<div style="text-align: center">
  <button style="width: 100px" class="btn btn-default" routerLink="/room/create">Create</button>
</div>


