<!--<div style="position: absolute; top: 9%; left: 10%">
  <button style="width: 100px" class="btn btn-light" (click)="goBack()">Exit</button>
</div>-->
<div *ngIf = "room">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="text-align: center">
      <div *ngIf="!isStarted" class="well">
        <ngb-alert type="warning" [dismissible]="false">
          <h3><strong>Title: {{ room.title }}</strong></h3>
          <h4>Location: {{ room.location }} Game type: {{ room.type }}:{{ room.type }} Play time: {{ room.play_time }}min</h4>
          <button class="btn btn-outline-warning" (click)="refresh()">Refresh</button>
        </ngb-alert>
      </div>
      <div *ngIf="isStarted">Game Started!!!!!!!!!!!!!!!!!!!111</div>
      <br>
      <div>
        <app-chat></app-chat>
      </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4" style="text-align: center">
      <app-list></app-list>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
<div style="text-align: center">
  <button *ngIf="user.id == host_id && !isStarted" class="btn btn-default" style="width: 100px" (click)="start()">Start</button>
  <button class="btn btn-default" style="width: 100px" (click)="goBack()">Back</button>
</div>
</div>
