<div class="container">
  <h1 style="text-align: center">
    Rank
  </h1>
  <br>
  <div class="form-group">
    <label class="control-label col-sm-1">Nickname:</label>
    <div>
      <input #searchBox type="string" class="form-control" placeholder="Enter nickname">
    </div>
  </div>
</div>
<div style="text-align: center">
  <button (click)="search(searchBox.value)" class="btn btn-default" style="width: 100px">Search</button>
</div>

<br>
<br>

<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Nickname</th>
        <th>Points</th>
        <th>Wins</th>
        <th>Loses</th>
      </tr>
    </thead>
    <tbody *ngIf="searched_users.length == 0">
    <tr *ngFor="let user of users">
      <td>{{ users.indexOf(user) + 1 }}</td>
      <td>{{ user.nickname }}</td>
      <td>{{ user.point }}</td>
      <td>{{ user.wins }}</td>
      <td>{{ user.loses }}</td>
    </tr>
    </tbody>
    <tbody *ngIf="searched_users.length > 0">
      <tr *ngFor="let user of searched_users">
        <td>{{ searched_users.indexOf(user) + 1 }}</td>
        <td>{{ user.nickname }}</td>
        <td>{{ user.point }}</td>
        <td>{{ user.wins }}</td>
        <td>{{ user.loses }}</td>
      </tr>
    </tbody>
  </table>
</div>
