<ng-template #content let-modal>
  <form [formGroup]="signInForm" [class.error]="!signInForm.valid" (submit)="sign_in()">
    <div class="modal-header">
      <h4 class="modal-title">Sign In</h4>
    </div>
    <div class="modal-body">
      <div>
        <label class="control-label">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email (@snu.ac.kr)"
               [formControl]="signInForm.controls['email']">
      </div>
      <div>
        <label class="control-label">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password"
               [formControl]="signInForm.controls['password']">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-light" [disabled]="!signInForm.valid">Sign In</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </form>
</ng-template>

<div style="position: absolute; top: 7%; right: 10%;">
  <button style="width: 100px" class="btn btn-light" (click)="openModal(content)">Sign in</button>
  <br>
  <button routerLink="/sign_up" style="width: 100px" class="btn btn-light">Sign up</button>
</div>
