<ng-template #content let-modal>
  <form [formGroup]="signInForm" [class.error]="!signInForm.valid" (submit)="sign_in()">
    <div class="modal-header">
      <h4 class="modal-title">Sign In</h4>
    </div>
    <div class="modal-body">
      <div>
        <label class="control-label">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email (@snu.ac.kr)"
               [formControl]="signInForm.controls['email']">
      </div>
      <div>
        <label class="control-label">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password"
               [formControl]="signInForm.controls['password']">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-light" [disabled]="!signInForm.valid">Sign In</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </form>
</ng-template>

<div style="position: absolute; top: 90px; right: 170px;">
  <button style="width: 100px" class="btn btn-light" (click)="openModal(content)">Sign in</button>
  <br>
  <button routerLink="/sign_up" style="width: 100px" class="btn btn-light">Sign up</button>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-lg-6" style="text-align: center">
      <app-map></app-map>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="text-align: center">
      <div style="text-align: center">
        <h2>Waiting Rooms</h2>
        <br>
      </div>
      <h1 *ngIf="rooms.length == 0" style="text-align: center">
        No rooms available now!
      </h1>
      <table class="table table-striped table-hover" *ngIf="rooms.length > 0">
        <thead>
        <tr>
          <th style="text-align: center">Title</th>
          <th style="text-align: center">Location</th>
          <th style="text-align: center">Play time</th>
          <th style="text-align: center">Game type</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let room of rooms">
          <td>{{ room.title }}</td>
          <td>{{ room.location }}</td>
          <td>{{ room.play_time }}</td>
          <td>{{ room.type }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
