<article id="container">
    
  <section>
      <div id = "r11" (click) = "result1(1, 'r11')">Team 1</div>
      <div id = "r12" (click) = "result1(2, 'r12')">Team 2</div>
      <div id = "r13" (click) = "result1(3, 'r13')">Team 3</div>
      <div id = "r14" (click) = "result1(4, 'r14')">Team 4</div>
      <div id = "r15" (click) = "result1(5, 'r15')">Team 5</div>
      <div id = "r16" (click) = "result1(6, 'r16')">Team 6</div>
      <div id = "r17" (click) = "result1(7, 'r17')">Team 7</div>
      <div id = "r18" (click) = "result1(8, 'r18')">Team 8</div>
  </section>
  
  <div class="connecter">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>
  
  <div class="line">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>
  
  <section id="quarterFinals">
      <div id = "r21" (click) = result2(this.tournament.result1[0],1)>{{quarterFinals(0)}}</div>
      <div id = "r22" (click) = result2(this.tournament.result1[1])>{{quarterFinals(1)}}</div>
      <div id = "r23" (click) = result2(this.tournament.result1[2])>{{quarterFinals(2)}}</div>
      <div id = "r24" (click) = result2(this.tournament.result1[3])>{{quarterFinals(3)}}</div>
  </section>
  
  <div class="connecter" id="conn2">
      <div></div>
      <div></div>
  </div>
  
  <div class="line" id="line2">
      <div></div>
      <div></div>
  </div>
  
  <section id="semiFinals">
      <div id = "r31" (click) = "result3(this.tournament.result2[0])">{{semiFinals(0)}}</div>
      <div id = "r32" (click) = "result3(this.tournament.result2[1])">{{semiFinals(1)}}</div>
  </section>
  
  <div class="connecter" id="conn3">
      <div></div>
  </div>
  
  <div class="line" id="line3">
      <div></div>
  </div>
  
  <section id="final">
      <div>{{final()}}</div>
  </section>

</article>
  
  